* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: 'Nerko One', cursive;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
  margin-bottom: 25px;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

#root {
  height: 100vh;
  padding: 10px 20px 20px 150px;
  background-image: url('https://previews.123rf.com/images/peshkova/peshkova1608/peshkova160800210/60743347-vista-dall-alto-del-desktop-ufficio-in-legno-chiaro-con-smartphone-e-tablet-due-tazze-di-caff%C3%A8-fagi.jpg');
  background-size: cover;
}

ul {
  text-align: left;
}

span {
  font-size: 35px;
  color: red;
  cursor: pointer;
}
